# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name-
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [11]:
list=[]
list_2=[]
for number in range (1,10):
    list.append(number)
    print(number)
for num in list:
    new_num=num**2
    list_2.append(new_num)
print(list_2)

1
2
3
4
5
6
7
8
9
[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [51]:
import random
list_3=[]
x=0
while x<10:
    y=random.randint(-1000,1000)
    list_3.append(y)
    x=x+1

maxi=max(list_3)
mini=min(list_3)
print(maxi)
print(mini)

876
-691

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [15]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]

In [18]:
print(new_list[2])

day

In [19]:
print(new_list[1][1])

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [21]:
college=("Bellarmine", "2001 Neuburg RD")
def __init__(self,name,add):
    self.name=name
    self.add=add

AttributeError: 'tuple' object has no attribute 'name'

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [26]:
age_game=True
while age_game==True:
    x=int(input("Please enter your age: "))
    if x<18:
        print("You are a minor")
    else:
        print("You are not a minor")
    again=input("Would you like to enter another age? (y/n)")
    if again=="n":
        age_game=False
    else:
        age_game=True

Please enter your age: 16
You are a minor
Would you like to enter another age? (y/n)n

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [40]:
game=True
while game==True:
    x=int(input("Enter a number: "))
    if x%2==0:
        if x>10:
            print("Number is even and greater than 10")
        else:
            print("Number is even and less than 10")
    else:
        if x>10:
            print("Number is odd and greater than 10")
        else:
            print("Number is odd and less than 10")
            
    again=input("Play again? (y/n)")
    if again=="n":
        game=False
    else:
        game=True

Enter a number: 20
Number is even and greater than 10
Play again? (y/n)y
Enter a number: 30
Number is even and greater than 10
Play again? (y/n)y
Enter a number: 13
Number is odd and greater than 10
Play again? (y/n)y
Enter a number: 7
Number is odd and less than 10
Play again? (y/n)y
Enter a number: 8
Number is even and less than 10
Play again? (y/n)n

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [41]:
game=True
while game==True:
    x=int(input("Enter a number: "))
    if x%11==0:
        print("Number is a multiple of 11")
    else:
        print("Number is not a multiple of 11")
            
    again=input("Play again? (y/n)")
    if again=="n":
        game=False
    else:
        game=True

Enter a number: 22
Number is a multiple of 11
Play again? (y/n)y
Enter a number: 34
Number is not a multiple of 11
Play again? (y/n)n

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [59]:
keys = [10, 20, 30]
values = ['Ten', 'Twenty', 'Thirty']
dic={}
dic(zip(keys,values))

TypeError: 'dict' object is not callable

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [54]:

def area(self, side):
    self.side=side
    a=side*side
    print(a)
def perimete(self, side):
    self.side=side
    b=side+side+side+side

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [43]:
x=10
while x<21:
    print(x)
    x=x+1

10
11
12
13
14
15
16
17
18
19
20

In [44]:
for x in range (10,21):
    print(x)

10
11
12
13
14
15
16
17
18
19
20